{% load i18n static %}
{% load widget_tweaks %}

{% if messages %}
{% for msg in messages %}
<div class="p-4 mb-4 text-sm text-success rounded-lg bg-successBg dark:bg-gray-800 dark:text-green-400" role="alert">
    <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg> 
    {{ msg }}
</div>
{% endfor %}
{% endif %}

<form method="post" action="." class="space-y-6 md:space-y-6 py-2 mb-4">
    {% csrf_token %}
    <legend class="text-2xl text-darkNavy font-semibold">Change your password</legend>

    <div>
      <label for="{{ form.old_password.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.old_password.label_tag }}</label>
      {% render_field form.old_password|attr:"autofocus:off" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
        {% if form.old_password.errors %}
        <div class="errorlist nonfield p-4 mb-4 text-sm text-redDark rounded-lg bg-redLight dark:bg-gray-800 dark:text-red-400" role="alert">
            <p>{{ form.old_password.errors }}</p>
        </div>
        {% endif %}
    </div>
    <div>
        <label for="{{ form.new_password1.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.new_password1.label_tag }}</label>
        {% render_field form.new_password1 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
          {% if form.new_password1.errors %}
          <div class="errorlist nonfield p-4 mb-4 text-sm text-redDark rounded-lg bg-redLight dark:bg-gray-800 dark:text-red-400" role="alert">
              <p>{{ form.new_password1.errors }}</p>
          </div>
          {% endif %}
    </div>
    <div>
        <label for="{{ form.new_password2.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.new_password2.label_tag }}</label>
        {% render_field form.new_password2 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
          {% if form.new_password2.errors %}
          <div class="errorlist nonfield p-4 mb-4 text-sm text-redDark rounded-lg bg-redLight dark:bg-gray-800 dark:text-red-400" role="alert">
              <p>{{ form.new_password2.errors }}</p>
          </div>
          {% endif %}
    </div>

    <button hx-post="{% url 'account:change-password' %}"
    hx-trigger="click"
    hx-target="#password-form"
    hx-swap="innerHTML"
    type="submit" class="text-white bg-lakeBlue hover:bg-darkNavy focus:ring-4 focus:outline-none focus:ring-lakeBlue font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Change password</button>
</form>
  