{% extends 'sub_base.html' %}
{% load widget_tweaks %}

{% block content %}
<section class="bg-bgLakeBlue dark:bg-gray-900 h-screen">
    <nav class="flex justify-center mx-auto py-4 mb-10" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
            <a href="{% url 'index' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                Home
            </a>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Register</span>
                </div>
            </li>
        </ol>
    </nav>
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            BrightMove
        </a>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-darkNavy md:text-2xl dark:text-white">
                    Create an account
                </h1>
                <form class="space-y-4 md:space-y-6" action="." method="post">
                    {% csrf_token %}
                    <div>
                        <label for="{{ form.username.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.username.label }}</label>
                        {% render_field form.username name='username' class+="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-lakeBlue focus:border-lakeBlue block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                        {% if form.username.errors %}
                        <div class="errorlist nonfield p-4 my-4 text-sm text-redDark rounded-lg bg-redLight dark:bg-gray-800 dark:text-red-400" role="alert">
                            <p>{{ form.username.errors }}</p>
                        </div>
                        {% endif %}
                    </div>
                    <div>
                        <label for="{{ form.email.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.email.label }}</label>
                        {% render_field form.email name='email' class+="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-lakeBlue focus:border-lakeBlue block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                        {% if form.email.errors %}
                        <div class="errorlist nonfield p-4 my-4 text-sm text-redDark rounded-lg bg-redLight dark:bg-gray-800 dark:text-red-400" role="alert">
                            <p>{{ form.email.errors }}</p>
                        </div>
                        {% endif %}
                    </div>
                    <div>
                        <label for="{{ form.password1.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.password1.label }}</label>
                        {% render_field form.password1 name='password1' class+="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-lakeBlue focus:border-lakeBlue block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                        {% if form.password1.errors %}
                        <div class="errorlist nonfield p-4 my-4 text-sm text-redDark rounded-lg bg-redLight dark:bg-gray-800 dark:text-red-400" role="alert">
                            <p>{{ form.password1.errors }}</p>
                        </div>
                        {% endif %}
                    </div>
                    <div>
                        <label for="{{ form.password2.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.password2.label }}</label>
                        {% render_field form.password2 name='password2' class+="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-lakeBlue focus:border-lakeBlue block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                        {% if form.password2.errors %}
                        <div class="errorlist nonfield p-4 my-4 text-sm text-redDark rounded-lg bg-redLight dark:bg-gray-800 dark:text-red-400" role="alert">
                            <p>{{ form.password2.errors }}</p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                          {% render_field form.is_agent class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-lakeBlue dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" %}
                        </div>
                        <div class="ml-3 text-sm">
                          <label for="{{ form.is_agent.id_for_label }}" class="font-semibold text-gray-500 dark:text-gray-300">I am an agent.</label>
                        </div>
                    </div>
                    <button type="submit" class="w-full text-white bg-lakeBlue hover:bg-darkNavy focus:ring-4 focus:outline-none focus:ring-lakeBlue font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create an account</button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Already have an account? <a href="{% url 'account:login' %}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}